*{
  margin:0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

button{
  cursor: pointer;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
:root{

  --color-accent:#62BAEA;
  --color-white:#E7E7E7;
  --color-dark:#313131;
  --first-color: #62baea;
  --second-color: #4a98bf;

}
body{
  font-family: 'Montserrat', sans-serif;
}
/* NavBAR */

.navbar-container{
  background-color: var(--color-dark);
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  z-index: 990;
}
nav{
  position: fixed;
  background-color: var(--color-dark);
  top:0;
  right: 0;
  width:100%;
  height: 100vh;
  z-index: 950;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform .4s ease-in-out, opacity .4s ease-in;
}
.clicked nav{
  transform: translateY(0);
  opacity: 1;
}
.nav-toggle{
  background-color: #31313185 ;
  box-sizing: content-box;
  cursor: pointer;
  padding: 0.5rem;
  display: block;
  height: 26px;
  width: 32px;
  position: fixed;
  top: 25px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburgerLine{
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: red;
}

.line1{
  
  top:20%;
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;

}
.line2{
  left:15%;
  top:45%;
  transition: transform 0.2s ease-in-out;
}
.line3{
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
  
  bottom:20%;
}
.navbar-container.clicked .line1{
  transform:  rotate(45deg);
}
.navbar-container.clicked .line2{
  transform: scale(0);
}
.navbar-container.clicked .line3{
  transform:  rotate(-45deg);
}

.nav-logo{
  filter: invert(65%) sepia(67%) saturate(508%) hue-rotate(172deg) brightness(96%) contrast(90%);
  width:5rem;
  z-index: 999;
 
}
ul{
  display: flex;
  margin-top: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap:.5rem
}
nav a{
  font-size: 1.5rem;
  padding: .5rem;
  color: var(--color-white)
  
}


nav a:not(.active):hover,
nav a:not(.active):focus{
  color: var(--color-accent)
}

nav .active{
  color:red
}


@media (min-width:550px){
  .nav-toggle{
    display: none;
  }
  .navbar-container{
    position: relative;
    flex-direction: row;
    align-items: center;
  }
  nav{
    transform: translateY(0);
    opacity: 1;
    position: relative;
    width:100%;
    height: min-content;
    align-self: center;
  }
  ul{
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  .nav-logo{align-self: center;}
}
/* all pages generic */

.js-main{
  --text: 'JavaScript';
  position: relative;
  margin-top: 5rem;
}
.games-main{
  --text:"games";
  position: relative;
  margin-top: 5rem;
 
}
span.page-title{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
   z-index: 100;
}
span.page-title::before{
  content: var(--text);
  position: absolute;
  width: 120%;
  background: var(--first-color);
  transform: translatex(-24%) rotate(-45deg) translateY(-2vw) translateX(20%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 10px;
  font-weight: 600;
  color: #fff;
  box-shadow: 0px 3px 20px var(--second-color);
}
/* Games page */
.games-main{
  background-color: var(--color-dark);
  padding:1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.games-main h1{
  align-self: center;
  font-size: 2.5rem;
  margin: 1rem 0;
}
.games-main-p{
  color: white;
  line-height: 1.5;
  font-size: 1.15rem;
  width: 60%;
  margin-top: 3rem;
  margin-left: auto;
}
.games-second-p{
  color: white;
  line-height: 1.5;
  font-size: 1.15rem;
}
.games-nav{
  display: flex;
  margin-block: 2rem;
  align-items: center;
  justify-content: space-around;
  gap:10px;
}
.games-nav a{
  font-size: .9rem;
  color:#ca0000;
  position: relative;
}
.games-nav a::before{
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -3px;
  background-color: #ca0000;
  transform: scale(0);
  transform-origin: right;
  transition: transform 300ms ease-in;
}
.games-nav a:hover::before{
  transform: scale(1);
  transform-origin: left;
}

/*  all game items */

.all-game-items{
  display: flex;
  flex-direction: column;
}

.game-item{
  display: flex;
  flex-direction: column;
  margin-bottom:1rem;
  background-color: var(--color-white);
  padding: 1rem;
  box-shadow: 5px 0 20px black;
}
.game-img{
  width:100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}
.game-title{
  text-align: center;
  font-size: 2.3rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
}
p.game-description{
  width:100%;
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: center;
  margin-top: .5rem;
  margin-bottom:1.5rem;
}
p.game-btn{
  display: block;
  width: max-content;
  margin-inline: auto;
  margin-bottom: .5rem;
  padding: .3em 1em;
  background-color: var(--color-dark);
  border-radius: 5px;
  color: var(--color-white);
  cursor: pointer;
  letter-spacing: 1px;
}
.game-btn:hover,
.game-btn:focus{
  color: var(--color-accent);
  transform: scale(0.95);
  box-shadow:inset 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
.rpg{
  font-family: 'MedievalSharp', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height:80vh ;
  background-color: var(--color-dark);
  margin: 20px;
}
.rpg-start-btn{
  font-family: inherit;
  font-size: 1.5rem;
  background-color: #fcc02a;
  border: 2px solid #963404;
  padding:.5em 1.5em;
  animation: flashing 2s infinite;
}
@keyframes flashing {
  0%,25%{
    opacity: 1;
  }
 
  50%{opacity: 0;}
 
  100%{
    opacity: 1;
  }
}
.rpg-start-btn:hover{
  animation: none;
  font-weight: bold;
}
.rpg-intro{
  font-size: 3rem;
  color:var(--color-white)
}

.char-box{
  display: flex;
  flex-direction: column;
  background-color: darkblue;
  color:var(--color-white)
}
.char-box img{
  width: 200px;
  margin-inline: 1rem;
}
.char-box h3{
  margin-block: 1rem;
  font-size: 2rem;
  text-align: center;
}
.char-box p {
  margin:.5rem 0 .5rem .5rem ;
}
.all-attacks{
  display: flex;
  gap:.5rem;
  background-color: rgb(9, 9, 61);
  width: 100%;
  padding: 1rem;
  justify-content: center;
  
  
}
.attack{
  width:2.5rem;
  height: 2.5rem;
  background-color: #963404;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.rpg-attack-btn{
  font-family: inherit;
  font-size: 1.5rem;
  background-color: #fcc02a;
  border: 2px solid #963404;
  padding:.5em 1.5em;
  margin-left:3rem;
  margin-block: 1rem ;
  
}

/* snake-page */
.snake-page-options{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2rem;
}
.snake-page-options a{
  background-color: black;
  color:white;
  font-size: 3rem;
  padding:.5em 1.5em ;
}

/* snake */
#GameBoard {
  box-sizing:unset;
	position: relative;
	margin: 0 auto;
	border-style: solid;
}

#GameBoard .Block {
  box-sizing:unset;
	position: absolute;
  padding: 0;
  margin: 0;
}

#GameBoard #GameOver {
	text-align: center;
	height: 100%;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
}

#GameBoard #Score {
	position: relative;
	top: 105%;
	text-align: center;
	font-weight: bold;
}

#GameBoard #GameOverText {
	color: #ca0000;
	font-weight: bold;
	text-decoration-line: underline;
}

#GameBoard #PressSpaceText {
	color: #2e7ecb;
	font-weight: bold;
  cursor: pointer;
}
.controler{
  position: relative;
  top:110%;
  width: 100%;
  display: grid;
  grid-template: repeat(3, 50px)/repeat(3, 50px);
  justify-content: center;
  
}
.controler button{
  border: 1px solid black;
  color: black;
  text-shadow: 0px 0px 5px #FFFFFF;
  font-size: 2rem;
}
.upButton{
  grid-column: 2;
}
.leftButton{
  grid-column: 1;
}
.rightButton{
  grid-column: 3;
}
.downButton{
  grid-column: 2;
}
.snake-header{
  text-align: center;
}

/* retro snake  page */
.board{
  margin-top: 1rem;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid black;
}

.grid{
  width: 30px;
  height: 30px;
  background-color: rgb(27, 70, 23);
}
.snake{
  background-color: black;
}
.apple{
  background-color: red;
}